<div class="card">
  <div class="card__body">
    <%= link_to "#{home.title}", root_path, class: :card__title%>
    <p class="card__summary">
    <%= link_to "現場担当：#{home.supervisor.supervisor}", class: :card__user %><br>
    <%= link_to "建設地　：#{home.address.address}", class: :card__user %>
  </div>
</div>