<main class="main">
  <div class="inner">
    
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "ようこそ、" %>
        <%= link_to "#{current_user.nickname}さん！
        <br>今回作業をされる物件名を選んでご入場ください。
        <br>本日も、ご安全に！！".html_safe, class: :greeting__link%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'home', collection: @home %>
    </div>
  </div>
</main>
