<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規物件登録</h2>
        <%= render partial: "form", locals: { home: @home } %>
    </div>
  </div>
</div>