/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #ffda9e;
  margin-bottom: 48px;
  border-bottom: 1px solid #000;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 180px;
  margin-top: 10px;
}

.exit_logo {
  width: 40px;
  margin-top: 10px;
}

.nav__btn{
  display: inline-block;
  padding: 0.5em 1.6em;
  margin-top: 10px;
  font-size: 0.8em;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  border: 1px #000000 solid;
  /* border-radius: 3px; */
  transition: 0.3s ease;
}
.nav__btn:hover{
  color: #000000;
  background: #ffec9e;
}

/* メニューボタンのスタイル */
.menu__button {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  padding: 8px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* メニューリストのスタイル */
.menu__list {
  list-style: none;
  margin: 0px;
  padding: 22px;
  display: none; /* 初期は非表示 */
  position: absolute;
  background-color: rgb(0, 0, 0);
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* メニューリストの表示設定（ホバー時に表示） */
.menu:hover .menu__list {
  display: block;
}

/* メニュー項目のスタイル */
.menu__list li {
  border-bottom: 1px solid #dadada;
}

.menu__list li:last-child {
  border-bottom: none; /* 最後の要素は線を消す */
}

/* メニュー項目のリンクスタイル */
.menu__list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu__list li a:hover {
  background-color: #ffc888;
}

/* メニューボタン画像のスタイル */
.menu__image {
  width: 30px; /* 画像の幅を調整 */
  height: 30px; /* 画像の高さを調整 */
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #000000;
  border: 1px #000000 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.input-birth-wrap {
  display: flex; /* Flexboxを利用して要素を横並びに */
  margin-right: 10px;
}

.select-box {
  height: 25px;
  width: 150px;
}

/* 物件一覧表示（トップ）画面 */

body::before {
  content: "";
  background-image: url('/assets/top_image.png'); /* 画像のパス */
  background-repeat: no-repeat;
  background-position: top right; /* 右上に配置 */
  opacity: 0.2; /* 透明度を設定 */
  position: absolute;
  top: 120px;
  right: 60px;
  width: 1000px; /* 画像の幅を調整 */
  height:600px; /* 画像の高さを調整 */
  z-index: -1; /* 他の要素に影響しないように、背面に配置 */
}

.supervisor-image{
  width: 90px; /* 幅を指定 */
  height: auto; /* 高さは自動調整 */
  margin-bottom: 10px;
  margin-right: 20px;
}

.greeting{
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}
.greeting__link{
  border: 1px solid #000000;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 5px 10px 5px;
}
.card {
  background-color: #ffda9e;
  width: 300px; /* ここで幅を固定 */
  margin-bottom: 10px;
  padding: 35px;
  border: 1px solid #000;
  border-radius: 10px;
}

.card__title {
  display: block;
  font-size: 35px; /* 文字サイズを一定にする */
  width: 100%; /* カードの幅に合わせる */
  margin-bottom: 8px;
  font-weight: bold;
}

.card__summary {
  font-size: 15px;
  text-align: left;
}

.card__user {
  display: block;
  color: #000000;
  text-align: left;
}

.card:hover{
  background-color: #FFFFFF;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.6s ease;
}

.home-image {
  width: 90px; /* 幅を指定 */
  height: auto; /* 高さは自動調整 */
  margin-bottom: 10px;
}

.search-form {
  margin-bottom: 30px;
}

.search-image{
  width: 40px;
}

.search-form .form-group {
  display: flex;
  align-items: center;
}

.search-form select {
  font-size: 12px;     /* フォントサイズを大きく */
  padding: 5px;       /* 内側の余白を広げる */
  width: 20%;         /* 親要素に合わせて幅を広げる */
  height: 30px;        /* 高さを調整してボタンを大きく */
  border-radius: 5px;  /* 角を丸くする（任意） */
  border: 1px solid #ccc; /* 境界線を設定 */
  margin: 0 5px 0 5px;
}

.btn-primary{
  font-size: 12px;     /* フォントサイズを大きく */
  padding: 5px;       /* 内側の余白を広げる */
  width: 10%;         /* 親要素に合わせて幅を広げる */
  height: 30px;        /* 高さを調整してボタンを大きく */
  border-radius: 5px;  /* 角を丸くする（任意） */
  border: 1px solid #000000; /* 境界線を設定 */
  margin: 0 5px 0 5px;
}


/* 物件詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
}

.prototype__hedding{
  font-size: 60px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.home__category-wrapper {
  text-align: center;
  color: #000000;
  margin-top: 20px;
}


.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.home__btn{
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px #000000 solid;
  border-radius: 7px;
  transition: 0.4s ease;
  margin: 20px 5px 20px 5px;
}
.home__btn:hover{
  color: #fff;
  background: #000;
}

.prototype__comments{
  background-color: #FFFFFF;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.status{
  border: 7px double #000000;
  background-color: #fff;
  width: 50%;
  margin: 0 auto; /* 左右中央に配置 */
}

.status_display{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 30px 0 15px 0;
}

.status_btn{
  display: flex;
  justify-content: center;
  gap: 10px; /* ボタン同士の間隔を10pxに設定 */
  font-weight: bold;   /* 太文字 */
}

.entryexit_btn{
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(217, 217, 217);
  color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px #000000 solid;
  border-radius: 7px;
  transition: 0.4s ease;
  margin: 20px 5px 20px 5px;
}

.entryexit_btn:hover{
  background-color: #FFFFFF;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.3s ease;
}

.status-entry {
  color: green;
  background-color: #ffffff;
  font-weight: bold;   /* 太文字 */
  border: 2px solid;   /* 枠線の追加 */
  padding: 5px 10px;   /* 枠線と文字の間の余白 */
  margin: 10 0 10 5px;
}

.status-exit {
  color: red;
  background-color: #ffffff;
  font-weight: bold;   /* 太文字 */
  border: 2px solid;   /* 枠線の追加 */
  padding: 5px 10px;   /* 枠線と文字の間の余白 */
  margin:10 0 10 5px;
}

.back-to-index-btn {
  display: block;
  padding: 10px;
  background-color: #000000;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  width: 50%;
  margin: 13px auto; /* 左右中央に配置 */
}
.back-to-index-btn:hover {
  background-color: #4b4b4b;
}

.entry_users{
  border: 1px solid #000000;
  background-color: #fff;
  width: 50%;
  margin: 20px auto; /* 左右中央に配置 */
  text-align: center;
  font-weight: bold;   /* 太文字 */
  font-size: 20px;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: center;
  font-weight: bold;
  background: #d5d4d481;
  border-collapse: collapse;
  border: 1px solid #000000;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: center;
  border: 1px solid #000000;
  border-collapse: collapse;
  width: 50%;
  padding: 20px 10px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*  各登録画面（職種、現場管理者、建設地） */

.category_title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 15px;
}

.category_list{
  display: flex;
  align-items: center;
  gap: 10px; /* 要素間のスペースを設定 */
  font-size: 20px;
  margin: 6px;

}

.category_list p {
  margin-right: 10px; /* スペースを調整 */
}

.category_item {
  align-items: center;
}

.delete__btn{
  padding: 1px 15px;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px #000000 solid;
  border-radius: 5px;
  transition: 0.4s ease;
  margin: 2px;
}

.delete__btn:hover{
  color: #fff;
  background: #000;
}

/* フッター */

.footer {
  background-color: #ffda9e;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #000;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ対応表示 */
@media (max-width: 800px) {
  
  .nav {
    display: flex;
    flex-direction: column; /* 子要素を上下に配置 */
    align-items: center; /* 中央揃え（オプション） */
  }

  .nav__left{
    display: flex;
  }

  .logo{
    width: 85%;
    display: block; /* インライン要素であるimgをブロック要素に */
    margin: 0 auto; /* 左右のマージンを自動に設定して中央揃え */
  }

  .exit_logo {
    width: 0%;
  }

  .search-form {
    display: flex;
    justify-content: center;
  }

  .page-heading {
    font-size: 20px;
  }

  .greeting{
    font-size: 14px;
    margin-top: -25px;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
  }

  .card__body {
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* 要素の幅を必要最小限に調整 */
  }

  .card__title {
    font-size: 18px;
  }

  .card__summary {
    font-size: 14px;
  }

  .prototype_image{
    width: 100%;
  }

  .table{
    width: 100%;
  }

  .prototype__hedding{
    font-size: 50px;
  }

  .status {
    width: 100%;
    box-sizing: border-box;
    padding: 5 5 5 5;
    margin: 0;
  }

  .entry_users {
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
  }

  .nav__right{
    margin-top: 15px;
  }

  .menu__button{
    background-color: #000000;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
  }

  body::before {
    width: 0%; /* トップ画面の背景無し */
  }

  .search-form select {
    font-size: 12px;     /* フォントサイズを大きく */
    padding: 5px;       /* 内側の余白を広げる */
    width: 60%;         /* 親要素に合わせて幅を広げる */
    height: 30px;        /* 高さを調整してボタンを大きく */
    border-radius: 5px;  /* 角を丸くする（任意） */
    border: 1px solid #ccc; /* 境界線を設定 */
    margin: 0 5px 0 5px;
  }
  
  .btn-primary{
    font-size: 12px;     /* フォントサイズを大きく */
    padding: 5px;       /* 内側の余白を広げる */
    width: 30%;         /* 親要素に合わせて幅を広げる */
    height: 30px;        /* 高さを調整してボタンを大きく */
    border-radius: 5px;  /* 角を丸くする（任意） */
    border: 1px solid #000000; /* 境界線を設定 */
    margin: 0 5px 0 5px;
  }
}